<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Title</title>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
<script src="../static/js/image_processing.js"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-10 text-center">
                <h2>Изображение</h2>
                <img src="../static/image.png" name="image" class="img_fluid"/>
            </div>
            <div class="col-md-10 text-center">
                <h2>Насыщенность цвета</h2>
                <form id="form_image_processing" onsubmit="alert('wtf')" name="image_decorator_form" method="POST">
                    <label for="red_color_control">Насыщенность красного</label>
                    <input oninput="change_image_pixel_colors(this.form, document.getElementsByName('image')[0])"  type="range" class="form-control-range" name="red_color_control" id="red_color_control">
                    <label for="green_color_control">Насыщенность зеленого</label>
                    <input oninput="change_image_pixel_colors(this.form, document.getElementsByName('image')[0])" type="range" class="form-control-range" name="green_color_control" id="green_color_control">
                    <label for="blue_color_control">Насыщенность синего</label>
                    <input oninput="change_image_pixel_colors(this.form, document.getElementsByName('image')[0])" type="range" class="form-control-range" name="blue_color_control" id="blue_color_control">
                </form>
            </div>
        </div>
    </div>
<canvas id="myCanvas" width="400" height="400" style="border:1px solid #000000;"></canvas>
</body>
<script type="text/javascript">
function mySubmit(theForm) {
    $.ajax({ // create an AJAX call...
        data: $(theForm).serialize(), // get the form data
        type: $(theForm).attr('method'), // GET or POST
        url: $(theForm).attr('action'), // the file to call
        success: function (response) { // on success..
            $('#here').html(response); // update the DIV
        }
    });
    }
</script>
</html>